@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'nivea_light_ot';
    src: url('../font/nivealightot-webfont.eot');
    src: url('../font/nivealightot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/nivealightot-webfont.woff2') format('woff2'),
         url('../font/nivealightot-webfont.woff') format('woff'),
         url('../font/nivealightot-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'niveaboldtextscreenot';
    src: url('../font/niveaboldtextscreenot-webfont.eot');
    src: url('../font/niveaboldtextscreenot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/niveaboldtextscreenot-webfont.woff2') format('woff2'),
         url('../font/niveaboldtextscreenot-webfont.woff') format('woff'),
         url('../font/niveaboldtextscreenot-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body { background: #FFFFFF; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; color: #585a5e; }

.error-messages { position : absolute; display : none; z-index : 99999; top : 50%; left : 0; right : 0; padding : 50px 10%; margin : -25% 10%; border : 1px solid #c80000; background-color : rgba(255, 255, 255, 0.8); }
.error-messages p { text-align : center; width : auto; padding : 0; margin : 0; color : #c80000; font-size : 1.5em; font-family : "niveaboldtextscreenot", sans-serif; }

.homepage .container { background: url(../images/bgr-step-01.jpg) 0 0 no-repeat; }
.registration .container { background: url(../images/bgr-step-02.jpg) 0 0 no-repeat; }
.thanks .container { background: url(../images/bgr-step-02.jpg) 0 0 no-repeat; }


.container { width: 984px; min-height: 650px; margin: 0 auto; color: #585a5e; }
.content { padding-left: 50px; padding-right: 430px; padding-top: 35px; position: relative; }

h1 { color: #001780; font-size: 22px; font-weight: normal; text-transform: uppercase; font-family: "nivea_light_ot"; line-height: 22px; margin: 0; margin-bottom: 10px; }
h1 strong { font-size: 30px; display: block; font-family: "niveaboldtextscreenot"; color: #001780; line-height: 35px; }
.pink {color: #e94293;}


.button { line-height: 36px; float: right; display: block; color: #FFFFFF; padding: 0 15px; padding-right: 15px; font-weight: bold; margin-top: 25px; text-decoration: none; border: none; cursor: pointer; text-transform: uppercase; font-family: "niveaboldtextscreenot";
background: #3c58b3; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjNThiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzFmODEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #3c58b3 0%, #031f81 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c58b3), color-stop(100%,#031f81)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #3c58b3 0%,#031f81 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #3c58b3 0%,#031f81 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #3c58b3 0%,#031f81 100%); /* IE10+ */
background: linear-gradient(to bottom, #3c58b3 0%,#031f81 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c58b3', endColorstr='#031f81',GradientType=0 ); /* IE6-8 */

-webkit-border-radius: 18px;
-moz-border-radius: 18px;
border-radius: 18px;
}
.button strong { display: block; padding-right: 15px; background: url(../images/button-arrow.png) right center no-repeat; }

p { font-size: 15px; }


.info { text-align: right; color: #00136f; font-size: 14px; clear: both; padding-top: 50px; }
.button-secondary { text-transform: uppercase; text-decoration: none; font-size: 11px; color: #00136f; float: right; background: url(../images/button-secondary-arrow.png) right center no-repeat; display: block; padding-right: 10px; font-weight: bold; }
.back { background: url(../images/button-secondary-back-arrow.png) left center no-repeat; display: block; padding-right: 0px; padding-left: 10px; }

.thanks-more { width: 215px; height: 240px; background: url(../images/thanks-bgr.jpg) 0 0 no-repeat; margin-top: 50px; padding: 15px; padding-left: 245px; padding-right: 20px; color: #585a5e; }

.thanks-more h2 { margin-top: 0; margin-bottom: 10px; font-size: 22px; line-height: 24px; font-family: "niveaboldtextscreenot"; color: #001780; }
.thanks-more p { margin-top: 0; }
.thanks-more .button { line-height: 30px; float: none; margin: 0; width: 160px; }

.form-block { font-size: 12px; position: relative; padding-top: 15px; }
.form-block p { font-size: 12px; line-height: 20px; }
fieldset { padding: 0; margin: 0; border: none; }

input[type="radio"]{ vertical-align: middle; margin: 0; }
input[type="checkbox"]{ vertical-align: middle; margin: 0; margin-right: 10px; }
input[type="text"]{ vertical-align: middle; line-height: 25px; height: 25px; margin: 0 5px; padding: 0 10px; width: 160px; border: 1px solid #999; }
.row-col { display: table-cell; }
.top-gap { padding-left: 30px; }
label { margin-left: 0; margin-right: 5px; font-size: 11px; }
label a { color: #585a5e; }

.question-text-block { display: inline-block; max-width: 425px; vertical-align: top; }

.clearfix { clear: both; }
.form-row { line-height: 25px; margin-bottom: 10px; display: table; width: 100%; }
.block-inline { margin-left: 5px; display: inline-block; }

.no-margin,input[type="text"].no-margin,input[type="radio"].no-margin { margin: 0; }

.half { width: 50%; }
.birth { padding-left: 5px; }
.birth label { line-height: 15px; }
.birth select { margin-top: 10px; }
.vtop { vertical-align: top; }

input[type="text"].input-short { width: 130px; }
input[type="text"].input-shorter { width: 35px; }

.checkblock { margin-top: 10px; line-height: 17px; }

.send-button { margin-bottom: 20px; font-size: 16px; }
.vbottom { vertical-align: bottom; }

select { height: 25px; line-height: 25px; }

.select2-container { width: 73px; }
input.input-short[type="text"] { width: 139px; }
.vbottom { vertical-align: bottom; }
.thanks-more { padding: 25px 10px 15px 245px; width: 225px; }

input[type="text"] { height: 25px; }

/* xxxx */
.questions-holder { background-color: #ecf3fa; padding: 5px; padding-bottom: 30px; margin-top: 10px; }
.question-item { background: #ffffff; padding: 5px; padding-left: 30px; position: relative; font-size: 13px; }
.question-item-pink { background: #fff5fa; }
.question-item p { font-size: 13px; }
.question-item p { margin: 0; }
.question-number { position: absolute; left: 10px; top: 7px; font-weight: bold; }

.question-item .form-row { margin-bottom: 0; margin: 0; }
.question-item label { font-size: 13px; }

.button-first { margin-top: -20px; margin-right: 10px; }
.info-first { padding-top: 20px; }