composer.lock
.idea/*
app/log
app/temp
webtemp
!temp/web.config
!temp/cache/.gitignore
!temp/sessions/.gitignore
!temp/proxies/.gitignore
!app/log/.gitignore
!app/temp/proxies/.gitignore
!app/temp/sessions/.gitignore
!webtemp/.gitignore
