lostPswForm:
	zaslat_na_e-mail: "zaslat na e-mail"
	e-mail: "e-mail"
	vyplňte_prosím_e-mail: 'Vyplňte prosím e-mail'
	vyplňte_email_v_platném_formátu: 'Prosím, vyplňte email v platném formátu.'
	email_send: 'Heslo bylo odesláno na vámi zvolenou emailovou adresu'
	email_fail: 'Heslo se nepodařilo odeslat'
	email_non_exist: 'Vámi zadaný e-mail neexistuje'

loginForm:
	e-mail: "e-mail"
	vyplňte_email_v_platném_formátu: 'Prosím, vyplňte email v platném formátu.'
	vyplňte_prosím_e-mail: 'Vyplňte prosím e-mail'
	heslo: 'heslo'
	vyplňte_vaše_heslo: 'Vyplňte vaše heslo.'
	přihlásit_se: 'přihlásit se'
	zaslat_zapomenuté_heslo: 'zaslat zapomenuté heslo'


quizForm:
	otazka1: "Otázka 1 (forms - jazyk - quizForm maďarština)"
	otazka2: "Otázka 2 (forms - jazyk - quizForm)"
	otazka3: "Otázka 3 (forms - jazyk - quizForm)"
	next: Pokračovat
	tato_polozka_je_povinna: Tato položka je povinná
	spatna_odpoved: Toto je špatná odpověď



registrationForm:
	odeslat: 'ELKÜLDÉS'
	žena: nő
	muž: férfi
	den: év
	měsíc: hónap
	rok: nap
	zvolte_pohlaví: "Kérjük, add meg a nemed!"
	zvolte_používání_výrobků: 'Kérjük, add meg, hogy használsz-e bőrfeszesítő terméket!'
	jméno: vezetéknév *
	příjmení: keresztnév *
	e-mail: e-mail *
	ulice: utca *
	č.p.: hsz. *
	PSČ: ir.sz.*
	heslo: heslo *
	heslo_znovu: heslo pro kontrolu *
	město: település *
	vyplňte_e-mail: "Kérjük, írd be az e-mail címed!"
	vyplňte_platný_e-mail: "Kérjük, az e-mail címed a megfelelő formátumba írd be!"
	vyplňte_vaše_křestní_jméno: "Kérjük, írd be a keresztneved!"
	vyplňte_vaše_příjmení: "Kérjük, írd be a vezetékneved!"
	vyplňte_heslo: 'Kérjük, írjd be a jelszavad!'
	vyplňte_nejméně_%d_znaky: 'Kérjük, legalább 3 karaktert adj meg!'
	heslo_ještě_jednou_pro_kontrolu: 'Kérjük, ellenőrzés végett, ismét írd be a jelszavad!'
	hesla_se_neshodují: 'A megadott jelszavak nem megegyezőek.'
	vyplňte_vaši_ulici: "Kérjük, írd be az utca nevet!"
	vyplňte_číslo_popisné: "Kérjük, írd be a házszámot!"
	vyplňte_číslo_popisné_správně: "Kérjük, írd be a házszámot."
	vyplňte_psč: "Kérjük, írd be az irányítószámot!"
	vyplňte_psč_správně: "Kérjük, az irányítószámot az előírt formátumban add meg!"
	vyplňte_město: "Kérjük, írd be a település nevét!"
	vyplňte_den_narození_správně: "A születésnap megadásának a tartományban kell lennie %d"
	vyplňte_měsíc_narození_správně: "A születésnap hónapjának a 1-12 tartomány közt kell lennie."
	musíte_být_starší_x_let: "A játékban 18. éven felüliek vehetnek részt!"
	posílat_newsletter: "Szeretnék e-mailben tájékoztatást kapni a NIVEA további eseményeiről, nyereményjátékairól, promócióiról és híreiről."
	potvrďte_souhlas_s_pravidly_soutěže: 'Kérjük, fogadd el az adatvédelmi szabályzatot, valamint a játékszabályzatot.'
	ano: igen
	ne: nem

	select_use_makeup: "Prosím, vyplňte jak často používáte makeup"
	select_skin: "Prosím, vyplňte typ pleti"

	every_day: každý den
	several_times_a_week: několikrát za týden
	several_times_a_month: několikrát za měsíc
	less_often: méně častěji
	not_use: nepoužívám

	dry_sensitive: suchá až citlivá
	normal: normální až smíšená
