registrationForm:
	vyplňte_jednu_možnost: 'Prosím, vyplňte jednu možnost.'
	odeslat: 'ODOSLAŤ'
	žena: žena
	muž: muž
	den: "deň"
	měsíc: "mesiac"
	rok: "rok"
	zvolte_pohlaví: 'Prosím, zvoľte vaše pohlavie.'
	zvolte_používání_výrobků: 'Prosím, zvoľte či používate výrobky pre spevnenie pokožky.'
	jméno: meno *
	příjmení: priezvisko *
	e-mail: e-mail *
	ulice: ulica *
	č.p.: p.č. *
	PSČ: PSČ *
	heslo: heslo *
	heslo_znovu: heslo pro kontrolu *
	město: mesto *
	vyplňte_e-mail: "Vyplňte, prosím, e-mail."
	vyplňte_platný_e-mail: "Prosím, vyplňte e-mail v platnom formáte."
	vyplňte_vaše_křestní_jméno: "Prosím, vyplňte vaše krstné meno."
	vyplňte_vaše_příjmení: 'Prosím, vyplňte vaše priezvisko.'
	vyplňte_heslo: 'Prosím, vyplňte heslo.'
	vyplňte_nejméně_%d_znaky: 'Prosím, vyplňte nejméně %d znaky.'
	heslo_ještě_jednou_pro_kontrolu: 'Zadejte prosím heslo ještě jednou pro kontrolu.'
	hesla_se_neshodují: 'Hesla se neshodují.'
	vyplňte_vaši_ulici: 'Prosím, vyplňte vašu ulicu.'
	vyplňte_číslo_popisné: 'Prosím, vyplňte vaše popisné číslo.'
	vyplňte_číslo_popisné_správně: 'Popisné číslo môže obsahovať iba číslice, prípadne lomítko.'
	vyplňte_psč: 'Prosím, vyplňte vaše PSČ.'
	vyplňte_psč_správně: 'Prosím, vyplňte vaše PSČ v platnom formáte.'
	vyplňte_město: 'Prosím, vyplňte vaše mesto.'
	vyplňte_den_narození_správně: 'Deň narodenia musí byť v rozmedzí 1 - 31.'
	vyplňte_měsíc_narození_správně: 'Mesiac narodenia musí byť v rozmedzí 1 - 12.'
	musíte_být_starší_x_let: 'Musíte mať viac ako 16 rokov.'
	souhlas_se_zařazením_do_soutěže: 'Zaškrtnutím tohto políčka a odoslaním formulára dobrovoľne súhlasím, že poskytnuté údaje v rozsahu formulára budú spracované pre účely vyhodnotenia súťaže. V prípade, že udelím súhlas na zasielanie obchodných informácií - informácií e-mailom - pozri. druhé políčko súhlasu, tak budú uvedené údaje spracované i pre účely stanovené v bode 2. Politiky ochrany súkromia. Potvrdzujem, že som si starostlivo prečítal/a podmienky spracovania údajov podľa Politiky ochrany súkromia a Pravidlá súťaže a súhlasím s nimi. Súhlas udeľujem na dobu do jeho odvolania.'
	potvrďte_souhlas_s_pravidly_soutěže: 'Prosím, potvrďte súhlas s Politikou ochrany súkromia a Pravidlami súťaže.'
	posílat_newsletter: 'Prajem si e-mailom dostávať informácie o ďalších aktivitách, súťažiach a novinkách spoločnosti Beiersdorf Slovakia, s.r.o.'
	ano: áno
	ne: nie
	vyplňte_den_narození: 'Deň narodenia musí byť v rozmedzí 1 - 31.'
	vyplňte_měsíc_narození: 'Mesiac narodenia musí byť v rozmedzí 1 - 12.'
	vyplňte_rok_narození: 'Musíte mať viac ako 16 rokov.'    

quizForm:
	pokračovat: 'Odoslať rozprávku'
    
	tato_polozka_je_povinna: 'Vložte text rozprávky.'
	spatna_odpoved: 'Sem vložte text svojej vlastnej rozprávky . . .'
