lostPswForm:
	zaslat_na_e-mail: "zaslat na e-mail"
	e-mail: "e-mail"
	vyplňte_prosím_e-mail: 'Vyplňte prosím e-mail'
	vyplňte_email_v_platném_formátu: 'Prosím, vyplňte email v platném formátu.'
	email_send: 'Heslo bylo odesláno na vámi zvolenou emailovou adresu'
	email_fail: 'Heslo se nepodařilo odeslat'
	email_non_exist: 'Vámi zadaný e-mail neexistuje'

loginForm:
	e-mail: "e-mail"
	vyplňte_email_v_platném_formátu: 'Prosím, vyplňte email v platném formátu.'
	vyplňte_prosím_e-mail: 'Vyplňte prosím e-mail'
	heslo: 'heslo'
	vyplňte_vaše_heslo: 'Vyplňte vaše heslo.'
	přihlásit_se: 'přihlásit se'
	zaslat_zapomenuté_heslo: 'zaslat zapomenuté heslo'

registrationForm:
	velikost_šortek: 'Jakou velikost šortek v případě výhry?'
	zvolte_velikost_šortek: 'Vyplňte prosím velikost šortek v případě výhry'
	sm: 'S / M'
	l-xl: 'L / XL'
	vyplňte_jednu_možnost: 'Prosím, vyplňte jednu možnost.'
	odeslat: 'Odeslat'
	den: "den"
	měsíc: "měsíc"
	rok: "rok"
	žena: žena
	muž: muž
	zvolte_pohlaví: 'Prosím, zvolte vaše pohlaví.'
	zvolte_používání_výrobků: 'Prosím, zvolte zda používáte výrobky pro zpevnění pokožky.'
	jméno: jméno *
	příjmení: příjmení *
	e-mail: e-mail *
	ulice: ulice *
	č.p.: č.p. *
	PSČ: PSČ *
	heslo: heslo *
	heslo_znovu: heslo pro kontrolu *
	město: měslo *
	zvolte_vaše_pohlaví: "Prosím, zvolte vaše pohlaví."
	vyplňte_e-mail: "Prosím, vyplňte e-mail."
	vyplňte_platný_e-mail: "Prosím, vyplňte email v platném formátu."
	vyplňte_vaše_křestní_jméno: "Prosím, vyplňte vaše křestní jméno."
	vyplňte_vaše_příjmení: 'Prosím, vyplňte vaše příjmení.'
	vyplňte_heslo: 'Prosím, vyplňte heslo.'
	vyplňte_nejméně_%d_znaky: 'Prosím, vyplňte nejméně %d znaky.'
	heslo_ještě_jednou_pro_kontrolu: 'Zadejte prosím heslo ještě jednou pro kontrolu.'
	hesla_se_neshodují: 'Hesla se neshodují.'
	vyplňte_vaši_ulici: 'Prosím, vyplňte vaši ulici.'
	vyplňte_číslo_popisné: 'Prosím, vyplňte vaše číslo popisné.'
	vyplňte_číslo_popisné_správně: 'Číslo popisné může obsahovat pouze číslice, případně lomítko.'
	vyplňte_psč: 'Prosím, vyplňte vaše PSČ.'
	vyplňte_psč_správně: 'Prosím, vyplňte vaše PSČ v platném formátu.'
	vyplňte_město: 'Prosím, vyplňte vaše město.'
	vyplňte_den_narození: 'Vyplňte den narození'
	vyplňte_den_narození_správně: 'Den narození musí být v rozmezí 1-31'
	vyplňte_měsíc_narození: 'Vyplňte měsíc narození'
	vyplňte_měsíc_narození_správně: 'Měsíc narození musí být v rozmezí 1-12'
	vyplňte_rok_narození: 'Vyplňte rok narození'
	musíte_být_starší_x_let: 'Musíte být starší 16 let.'
	souhlas_se_zařazením_do_soutěže: "Zaškrtnutím tohoto políčka a odesláním formuláře dobrovolně souhlasím, že poskytnuté údaje v rozsahu formuláře budou zpracovány pro účely vyhodnocení soutěže. V případě, že udělím souhlas k zasílání obchodních sdělení - informací e-mailem - viz. druhé políčku souhlasu, tak budou uvedené údaje zpracovány i pro účely stanovené v bodě 2. %politiky_ochrany_soukromí%. Potvrzuji, že jsem si pečlivě pročetl/a podmínky zpracování údajů dle Politiky ochrany soukromí a %pravidla_soutěže% a souhlasím s nimi. Souhlas uděluji na dobu do jeho odvolání."
	potvrďte_souhlas_s_pravidly_soutěže: 'Prosím potvrďte souhlas s Politikou ochrany soukromí a Pravidly soutěže.'
	posílat_newsletter: 'Přeji si dostávat e-mailem informace o dalších akcích, soutěžích a novinkách společnosti Beiersdorf&nbsp;spol.&nbsp;s&nbsp;r.o.'

	ano: ano
	ne: ne

quizForm:
	pokračovat: 'pokračovat'

	tato_polozka_je_povinna: 'Odpovězte prosím na otázky'
	spatna_odpoved: 'Toto je špatná odpověď'
