registrationForm:
	odeslat: 'ELKÜLDÉS'
	žena: nő
	muž: férfi
	den: nap
	měsíc: hónap
	rok: év
	zvolte_pohlaví: "Kérjük, add meg a nemed!"
	zvolte_používání_výrobků: 'Kérjük, válaszolj a kérdésre!'
	jméno: keresztnév *
	příjmení: vezetéknév *
	e-mail: e-mail *
	ulice: utca *
	č.p.: hsz. *
	PSČ: ir.sz.*
	město: település *
	vyplňte_e-mail: "Kérjük, írd be az e-mail címed!"
	vyplňte_platný_e-mail: "Kérjük, az e-mail címed a megfelelő formátumba írd be!"
	vyplňte_vaše_křestní_jméno: "Kérjük, írd be a keresztneved!"
	vyplňte_vaše_příjmení: "Kérjük, írd be a vezetékneved!"
	vyplňte_heslo: 'Kérjük, írjd be a jelszavad!'
	vyplňte_nejméně_%d_znaky: 'Kérjük, legalább 3 karaktert adj meg!'
	heslo_ještě_jednou_pro_kontrolu: 'Kérjük, ellenőrzés végett, ismét írd be a jelszavad!'
	hesla_se_neshodují: 'A megadott jelszavak nem megegyezőek.'
	vyplňte_vaši_ulici: "Kérjük, írd be az utca nevet!"
	vyplňte_číslo_popisné: "Kérjük, írd be a házszámot!"
	vyplňte_číslo_popisné_správně: "Kérjük, írd be a házszámot."
	vyplňte_psč: "Kérjük, írd be az irányítószámot!"
	vyplňte_psč_správně: "Kérjük, az irányítószámot az előírt formátumban add meg!"
	vyplňte_město: "Kérjük, írd be a település nevét!"
	vyplňte_den_narození_správně: "A születésnap megadásának a tartományban kell lennie %d"
	vyplňte_měsíc_narození_správně: "A születésnap hónapjának a 1-12 tartomány közt kell lennie."
	musíte_být_starší_x_let: "A játékban 18. éven felüliek vehetnek részt!"

	vyplňte_den_narození: "A születésnap megadásának a tartományban kell lennie %d."
	vyplňte_měsíc_narození: "A születésnap hónapjának a 1-12 tartomány közt kell lennie."
	vyplňte_rok_narození: "A játékban 18. éven felüliek vehetnek részt!"
	
	posílat_newsletter: "Szeretnék e-mailben tájékoztatást kapni a NIVEA további eseményeiről, nyereményjátékairól, promócióiról és híreiről."
	potvrďte_souhlas_s_pravidly_soutěže: 'Kérjük,<br> fogadd el az adatvédelmi szabályzatot, valamint a játékszabályzatot.'
	ano: igen
	ne: nem

quizForm:
	pokračovat: 'Elküldöm a mesémet!'
	tato_polozka_je_povinna: 'Kérjük, válaszolj a kérdésre!'
	spatna_odpoved: 'Illeszd be itt a mesédet!'
	otazka_za_A: 'A szokásos éjszaki arckrémünk helyett.'
	otazka_za_B: 'Naponta kétszer, a szokásos nappali és esti arckrémünk felvitele előtt.'
	otazka_za_C: 'Alapozó helyett.'
