email:
	sender: 'Nivea soutěž <nivea@info.com>'
	header: 'Zapomenuté heslo'

vaše_nové_heslo: "Dobrý den,\nvaše nové heslo do Nivea soutěže je %d%"


# --- title ---
title_homepage: "NIVEA - Írd meg saját meséd és nyerj!"
title_registration: "regisztráció"
title_děkujeme: "KÖSZÖNJÜK, ADATAIDAT SIKERESEN ELMENTETTÜK."

# --- homepage ---
úvodní_popis: 'Írd meg saját meséd és nyerj!'
text1: '<br>Alakítsd Te Leó, Mia, Nyuszi és a kis tündér kalandjait! <br>Találd ki a mesebeli szereplők újabb izgalmas történetét, és oszd meg velünk!<br> A legszebb meséket publikáljuk, az írókat pedig értékes NIVEA Mesevilág ajándékcsomaggal jutalmazzuk.'
nadpis2: 'Hogyan kell használni az új ránctalanító szérumot?'
chci_testovat: "SZERETNÉM KIPRÓBÁLNI!"
přihláška_do: "A tesztelésre február 26-tól április 26-ig jelentkezhetsz."
úplná_pravidla: "Játékszabályzat"
url_pravidla: "http://www.nivea.hu/A-NIVEA-vilaga/ext/hu-HU/nivea_games_and_rules"
zbyva: "karaktered maradt még"

# --- registration ---
registrace: REGISTRACE
text_registrace1: "<strong>regisztráció</strong>"
text_registrace2: "Kérjük, töltsd ki pontosan az összes mezőt! Mielőtt a regisztrációdat véglegesíted,<br />kérjük, hogy nézd át az adatokat, hogy amennyiben a nyertesek között leszel, a nyereményed valóban célba érjen!"
povinná_pole: "A *-al jelölt mezők kitöltése kötelező<br>A játék időtartama: 2015.03.16. – 2015.05.31."

zaškrtnutím_tohoto_políčka_a_odesláním_formuláře: 'A jelölőnégyzet bejelölésével és az adataim elküldésével önkéntesen hozzájárulok a fenti információk feldolgozásához a promóciós tesztben való részvétel céljából és vonatkozásában. Amennyiben hozzájárulásomat adom ahhoz, hogy a Beiersdorf Kft. részemre e-mail útján kereskedelmi ajánlatokat és információkat küldjön (lásd a második hozzájárulás mezőt), tudomásul veszem, hogy az általam megadott adatok feldolgozása is az Adatkezelési Irányelvek 2. pontjában felsorolt célokra történik. Kijelentem, hogy alaposan elolvastam és megértettem az Adatkezelési Irányelveknek megfelelő adatkezelési feltételeket, a Játékszabályzatot és ezeket elfogadom. Hozzájárulásom visszavonásig érvényes.'
politiky_ochrany_soukromí: "Politiky ochrany soukromí"
pravidla_soutěže: "Pravidla soutěže"
potvrzuji_pečlivé_pročtení: "a souhlasím s nimi. Souhlas uděluji na dobu do jeho odvolání."
a: "a"
zpet: "vissza"
datum_narozeni: "születési idő *"

email_již_existuje: 'Vámi zadaná emailová adresa již existuje'
email_nenalezen: 'e-mail nebyl nalezen'
email_send: 'e-mail byl odeslán'
email_fail: 'e-mail se nepodařilo odeslat'

# --- Poděkování ---
děkujeme: "<strong>Köszönjük!</strong>ADATAIDAT SIKERESEN ELMENTETTÜK."
odesílací_informace: "A nyerteseket e-mailben értesítjük."
děkující_titulek: "NIVEA<br>MESEVILÁG"
děkující_popisek: "Élvezd gyermekeiddel együtt<br> a mesélés és az olvasás varázslatos pillanatait!"
děkujeme_pokračovat: "Mesék elolvasása"
url_pokračovat: "http://www.nivea.hu/mesevilag"


# --- links ---
rules_url: "http://www.nivea.cz/Tipy-and-rady/ext/cz-CZ/2011_06_vyherci_info"
policy_policy_url: "http://www.nivea.cz/O-nas/Politika-ochrany-soukromi"
