email:
	sender: 'Nivea soutěž <nivea@info.com>'
	header: 'Zapomenuté heslo'

# --- title ---
title_homepage: "NIVEA Spevňujúce mlieko do sprchy"
title_registration: "NIVEA Registrácia"
title_děkujeme: 'ĎAKUJEME, VAŠE ÚDAJE BOLI ÚSPEŠNE ULOŽENÉ.'

# --- homepage ---
homepage:
úvodní_popis: "Vykúzlite vlastnú rozprávku<strong>a vyhrajte!</strong>"
text1: "<p><strong>Vymysleli ste pre Tinku, Šimona, králika a vílu vlastný príbeh?</strong><br>Zašlite nám ho! Najvydarenejšie príbehy zverejníme a ich autorov odmeníme<br>kompletnou rozprávkovou limitovanou edíciou NIVEA Creme.</p>"
zbyva: "Ešte môžete napísať"
znaku: "znakov"

přihláška_do: "Súťaž prebieha od 16. 3. do 19. 4. 2015."
úplná_pravidla: "ÚPLNÉ PRAVIDLÁ"
url_pravidla: "http://www.nivea.sk/Tipy-and-rady/ext/sk-SK/2011_06_vyherci_info"


# --- registration ---
registrace: REGISTRACE
text_registrace1: "<strong>Registrační<br>formulář</strong>"
text_registrace2: "Ak sa chcete zapojiť do súťaže, vyplňte, prosím, krátky formulár:"
povinná_pole: "Polia označené * sú povinné.<br>Súťaž prebieha od 16. 3. do 19. 4. 2015."


zaškrtnutím_tohoto_políčka_a_odesláním_formuláře: 'Zaškrtnutím tohto políčka a odoslaním formulára dobrovoľne súhlasím, že poskytnuté údaje v rozsahu formulára budú spracované pre účely vyhodnotenia súťaže. V prípade, že udelím súhlas na zasielanie obchodných informácií - informácií e-mailom - pozri. druhé políčko súhlasu, tak budú uvedené údaje spracované i pre účely stanovené v bode 2. %politiky_ochrany_soukromí%. Potvrdzujem, že som si starostlivo prečítal/a podmienky spracovania údajov podľa Politiky ochrany súkromia a %pravidla_soutěže% a súhlasím s nimi. Súhlas udeľujem na dobu do jeho odvolania.'



politiky_ochrany_soukromí: "Politiky ochrany súkromia"
pravidla_soutěže: "Pravidlá súťaže"
potvrzuji_pečlivé_pročtení: "a souhlasím s nimi. Souhlas uděluji na dobu do jeho odvolání."
a: "a"
zpet: "späť"
datum_narozeni: "dátum narodenia"

email_již_existuje: 'Vámi zadaná emailová adresa již existuje'
email_nenalezen: 'e-mail nebol nájdený'
email_send: 'e-mail bol odoslaný'
email_fail: 'e-mail sa nepodarilo odoslať'

# --- Poděkování ---
děkujeme: "<strong>Ďakujeme</strong>VAŠE ÚDAJE BOLI ÚSPEŠNE ULOŽENÉ."
odesílací_informace: "V prípade výhry vás budeme kontaktovať na e-mail <br>uvedený pri registrácii."
děkující_titulek: "NIVEA<br>ROZPRÁVKY"
děkující_popisek: "Vychutnajte si spolu<br>so svojimi deťmi kúzelné<br>chvíle počas spoločného<br>čítania."
děkujeme_pokračovat: "Na rozprávky"
url_pokračovat: "http://www.nivea.sk/rozpravky"


# --- flashes ---
vámi zadaná emailová adresa již existuje: "Vámi zadaná emailová adresa již existuje"


# --- errors ---
your browser sent a request that this server could not understand or process.: "Your browser sent a request that this server could not understand or process."
oops: "Oops"
page Not Found: "Page Not Found"
the page you requested could not be found...: "The page you requested could not be found. It is possible that the address is incorrect, or that the page no longer exists. Please use a search engine to find what you are looking for."
server Error: "Server Error"
the server encountered an internal error: "'We're sorry! The server encountered an internal error and was unable to complete your request. Please try again later."

# --- links ---
rules_url: "http://www.nivea.sk/Tipy-and-rady/ext/sk-SK/2011_06_vyherci_info"
policy_policy_url: "http://www.nivea.sk/O-nas/Politika-ochrany-sukromia"
