# --- homepage --- #
homepage:
	title: NIVEA Make-up Starter
	popis: OTESTUJTE LEHKÝ PODKLADOVÝ KRÉM
	popis2: NIVEA Make-up Starter

	text1: ZÁKLAD PRO PEFEKTNÍ MAKE-UP
	text2: "Podkladová báze vyhladí a sjednotí pleť a připraví ji tak pro bezchybné nanesení make-upu. Současně pleti dodá potřebnou dávku hydratace na celý den. Díky ultralehkému složení se vstřebá již během 1 minuty."
	text3: "<strong>Vyzkoušejte zdarma NIVEA Lehký podkladový krém Make-up Starter</strong>, díky kterému bude váš make-up vypadat lépe a vydrží déle perfektní. Vaši pleť zanechá hydratovanou a hedvábně jemnou."

	application_from_to: Do testování se můžete přihlásit od %from% do %to%.
	chci_testovat: "CHCI TESTOVAT"
	pravidla: "úplná pravidla"
	url_pravidla: "http://www.nivea.cz/Tipy-and-rady/ext/cz-CZ/2011_06_vyherci_info"

# --- registration --- #
registration:
	title: NIVEA Make-up Starter registrace
	popis: OTESTUJTE Make-up Starter
	registrace: REGISTRACE
	text_registrace1: "Chcete-li se zapojit do testování, vyplňte prosím krátký formulář:"
	use_product: Jak často používáte make-up?
	skin_type: Jaký je váš typ pleti?

	required_item: Pole označená * jsou povinná.
	application_from_to: Do testování se můžete přihlásit od %from% do %to%.

	privacy_info: "Zaškrtnutím tohoto políčka a odesláním formuláře dobrovolně souhlasím, že poskytnuté údaje v rozsahu formuláře budou zpracovány pro účely vyhodnocení soutěže. V případě, že udělím souhlas k zasílání obchodních sdělení - informací e-mailem - viz. druhé políčku souhlasu, tak budou uvedené údaje zpracovány i pro účely stanovené v bodě 2. %politiky%. Potvrzuji, že jsem si pečlivě pročetl/a podmínky zpracování údajů dle Politiky ochrany soukromí a %pravidla% <br>a souhlasím s nimi. Souhlas uděluji na dobu do jeho odvolání."
	back: "zpět"

	# --- links --- #
	rules: Pravidla soutěže
	rules_url: http://www.nivea.cz/Tipy-and-rady/ext/cz-CZ/2011_06_vyherci_info
	policy: Politiky ochrany soukromí
	policy_url: http://www.nivea.cz/O-nas/Politika-ochrany-soukromi


# --- Poděkování --- #
thanks:
	title: "DĚKUJEME, VAŠE ÚDAJE BYLY ÚSPĚŠNĚ ULOŽENY"
	thank: DĚKUJEME
	data_saved: VAŠE ÚDAJE BYLY ÚSPĚŠNĚ ULOŽENY.
	send_info: "V případě, že budete vybrána pro testování, budeme vás kontaktovat na e-mail uvedený při registraci."
	text1: KRÁSNÝ MAKE-UP PO CELÝ DEN?
	text2: "Líčení krok za krokem, aby byl výsledek okouzlující a dlouhotrvající."
	next_url: "http://www.nivea.cz/Vyrobky/Pece-o-telo/Telova-mleka-do-sprchy"
	continue: "Pokračovat"
