email:
	sender: 'Nivea soutěž <nivea@info.com>'
	header: 'Zapomenuté heslo'

vaše_nové_heslo: "Dobrý den,\nvaše nové heslo do Nivea soutěže je %d%"


# --- title ---
title_homepage: "NIVEA - vykouzlete vlastní pohádku"
title_registration: "NIVEA registrace"
title_děkujeme: "DĚKUJEME, VAŠE ÚDAJE BYLY ÚSPĚŠNĚ ULOŽENY"

# --- homepage ---
homepage:
úvodní_popis: "Vykouzlete vlastní pohádku<strong>a vyhrajte!</strong>"
text1: "<p><strong>Vymysleli jste pro Bětku, Čendu, králíka a vílu vlastní příběh?</strong><br>Zašlete nám ho! Nejpovedenější příběhy zveřejníme a jejich autory odměníme<br>kompletní pohádkovou limitovanou edicí NIVEA Creme.</p>"
zbyva: "Ještě můžete napsat"
znaku: "znaků"

chci_testovat: "CHCI TESTOVAT"
přihláška_do: "Soutěž probíhá od 16. 3. do 30. 6. 2015."
úplná_pravidla: "úplná pravidla"
url_pravidla: "http://www.nivea.cz/Tipy-and-rady/ext/cz-CZ/2011_06_vyherci_info"

# --- registration ---
registrace: REGISTRACE
text_registrace1: "<strong>Registrační<br>formulář</strong>"
text_registrace2: "Chcete-li se zapojit do soutěže, vyplňte prosím krátký formulář:"
povinná_pole: "Pole označená * jsou povinná.<br>Soutěž probíhá od 16. 3. do 30. 6. 2015."

zaškrtnutím_tohoto_políčka_a_odesláním_formuláře: "Zaškrtnutím tohoto políčka a odesláním formuláře dobrovolně souhlasím, že poskytnuté údaje v rozsahu formuláře budou zpracovány pro účely vyhodnocení soutěže. V případě, že udělím souhlas<br />k zasílání obchodních sdělení - informací e-mailem - viz. druhé políčku souhlasu, tak budou uvedené údaje zpracovány i pro účely stanovené v bodě 2. %politiky_ochrany_soukromí%. Potvrzuji, že jsem si pečlivě pročetl/a podmínky zpracování údajů dle Politiky ochrany soukromí a %pravidla_soutěže% <br>a souhlasím s nimi. Souhlas uděluji na dobu do jeho odvolání."


politiky_ochrany_soukromí: "Politiky ochrany soukromí"
pravidla_soutěže: "Pravidla soutěže"
potvrzuji_pečlivé_pročtení: "a souhlasím s nimi. Souhlas uděluji na dobu do jeho odvolání."
a: "a"
zpet: "zpět"
datum_narozeni: "datum narození *"

email_již_existuje: 'Vámi zadaná emailová adresa již existuje'
email_nenalezen: 'e-mail nebyl nalezen'
email_send: 'e-mail byl odeslán'
email_fail: 'e-mail se nepodařilo odeslat'

# --- Poděkování ---
děkujeme: "<strong>Děkujeme</strong>VAŠE ÚDAJE BYLY ÚSPĚŠNĚ ULOŽENY."
odesílací_informace: "V případě výhry vás budeme kontaktovat na e-mail<br>uvedený při registraci."
děkující_titulek: "NIVEA<br>POHÁDKY"
děkující_popisek: "Vychutnejte si spolu<br>se svými dětmi kouzelné<br>chvíle během společného<br>čtení."
děkujeme_pokračovat: "Pokračovat"
url_pokračovat: "http://www.nivea.cz/pohadky"


# --- links ---
rules_url: "http://www.nivea.cz/Tipy-and-rady/ext/cz-CZ/2011_06_vyherci_info"
policy_policy_url: "http://www.nivea.cz/O-nas/Politika-ochrany-soukromi"
