<div class="popup lost">
	<div class="popup-content">
		<div class="panel">
			<div class="panel-header text-right">
				<span class="close"></span>
			</div>
			<div class="panel-body">
				<p class="fs30 fs-upper fs-bold">{_ztracené_heslo}</p>
				{control lostPswForm}
			</div>
		</div>
	</div>
</div>
