{block title}{_title_děkujeme}{/block}
{block content}
<h1><strong>{_děkujeme}</strong>{_udaje_uloženy}</h1>
<p>{_odesílací_informace}</p>

<div class="thanks-more">
	<h2>{_děkující_titulek}</h2>
	<p>{!_děkující_popisek}</p>
	{capture $url}{_url_pokračovat}{/capture}

	<a target="_blank" href="{!$url}" class="button track-external" data-url="{!$url}"><strong>{_děkujeme_pokračovat}</strong></a>
</div>
