{block title}{_messages.thanks.title}{/block}
{block content}
{capture $url}{_messages.thanks.next_url}{/capture}

<h1><strong>{_messages.thanks.thank}</strong>{_messages.thanks.data_saved}</h1>
<p>{_messages.thanks.send_info}</p>

<div class="thanks-more">
	<h2>{_messages.thanks.text1}</h2>
	<p>{!_messages.thanks.text2}</p>
	<a target="_blank" href="{!$url}" class="button track-external" data-url="{!$url}"><strong>{_messages.thanks.continue}</strong></a>
</div>
