services:
	authorizator: AppModule\Security\Authorizator
	authenticator: AppModule\Security\Authenticator(@manager.user)
	router: @AppModule\Routers\RouterFactory::createRouter

	manager.user: AppModule\Managers\UserManager(@doctrine.dao(AppModule\Entities\UserEntity), @doctrine.dao(AppModule\Entities\QuestionEntity), %contest%)
	manager.application: AppModule\Managers\ApplicationManager(%contest%)
